.titleName{
    text-align: center;
}
.container {

}
body{
    background: rgb(51, 51, 51);
}
.fa-plus{
    color: rgb(134, 245, 134);
}
.fa-trash-can{
    color: rgb(245, 96, 96);
    font-size: 16px;
    cursor: pointer;
}
.titleName{
    color: white;
}

.alert{
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
}
.checked{
    text-decoration: line-through;
    background: rgb(41, 41, 41);
    color: rgb(245, 96, 96);
}